

footer{
    box-sizing: border-box;
    height: 7%;
    background-color: var(--roxo2);

    div{
        
        height: 100%;
        display: flex;
        justify-content: space-evenly;

        section{
            display: flex;
            padding-top: .6%;
            
           p{
            margin-top: 3px;
            color: rgb(245, 216, 0);
            
           }
        }
    }
}